<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8">
  <title>Choix de rôle Discord</title>
  <link rel="stylesheet" href="/css/style.css" />
</head>
<body>
  <h1>Choisis tes rôles</h1>

  <% if (!user) { %>
    <a href="/login">
      <button>Se connecter avec Discord</button>
    </a>
  <% } else { %>
    <p>Connecté en tant que <%= user.username %></p>
    <form action="/assign-roles" method="POST">
      <% roles.forEach(role => { %>
        <label>
          <input type="checkbox" name="roles" value="<%= role.id %>" />
          <%= role.name %>
        </label>
      <% }) %>
      <input type="submit" value="Valider" />
    </form>
  <br />
  <a href="/logout">
    <button style="margin-top: 20px; background-color: #ff5555; color: white; border: none; padding: 10px 20px; border-radius: 5px; cursor: pointer;">
      Déconnexion
    </button>
  </a>
<% } %>
</body>
</html>
